.sh_fixed_contact.z-depth-2.hide-on-med-and-down
  .row
    .col.m10.right-align.sh_contact_content
      Имя Фамилия post@post.post Адрес м. Метро Метрович, тел. +7(404)777-88-00
    .col.m2.s12.right-align
      %a.waves-effect.waves-light.btn.light-blue.lighten-1 Записаться
.sh_deliver.hide-on-med-and-down
