.container
  .row
    .col.l6.s12
      %h5.white-text Тетя Тоня
      %p.grey-text.text-lighten-4 Супер спец. по мозгам!
    .col.l3.s12
      %h5.white-text Контакты
      -# %ul
      -#   %li
      -#     %a.white-text{:href => "#!"} Link 1
      -#   %li
      -#     %a.white-text{:href => "#!"} Link 2
      -#   %li
      -#     %a.white-text{:href => "#!"} Link 3
      -#   %li
      -#     %a.white-text{:href => "#!"} Link 4
    .col.l3.s12
      %h5.white-text Еще что-нибудь
      -# %ul
      -#   %li
      -#     %a.white-text{:href => "#!"} Link 1
      -#   %li
      -#     %a.white-text{:href => "#!"} Link 2
      -#   %li
      -#     %a.white-text{:href => "#!"} Link 3
      -#   %li
      -#     %a.white-text{:href => "#!"} Link 4
