%nav.light-blue.lighten-1{:role => "navigation"}
  .nav-wrapper.container
    %ul.hide-on-med-and-down= partial 'layouts/nav_links'
    %ul#nav-mobile.side-nav= partial 'layouts/nav_links'
    %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
      %i.material-icons menu
