---
title: профессиональная помощь психотерапевта в Санкт-Петербурге, частный прием и онлайн
---
.container
  %br
  %br
  = image_tag 'me.jpg', class: 'responsive-img circle left sh_me_img'
  .flow-text
    %h3 ОБО МНЕ
    %p= partial 'text/about'
