.container
  .row
    .col.l12
      %br
      %h4.center.orange-text ОБО МНЕ
  .row
    .col.l3
      = image_tag 'me_300.jpg', class: 'responsive-img circle left sh_me_img'
    .col.l9.light
      %p= partial 'text/about/main'
