---
title: Welcome to Middleman
---

-# .row
-#   .col.s12
-#   %ul.tabs
-#     %li.tab.col.s3
-#       %a.active{:href => "#about"} О себе
-#     %li.tab.col.s3
-#       %a{:href => "#experience"} Мой опыт
-#     %li.tab.col.s3
-#       %a{:href => "#contacts"} Контакты

.container
  .row
    .col.hide-on-small-only.m3.l2
      %ul.section.table-of-contents
        %li
          %a{:href => "#main"} ГЛАВНАЯ
        %li
          %a{:href => "#about"} ОБО МНЕ
        %li
          %a{:href => "#initialization"} Intialization
    .col.s12.m9.l10
      #main.section.scrollspy
        = partial 'view/index/main'
      #about.section.scrollspy
        = partial 'view/index/about'
      #initialization.section.scrollspy
        %p Content

= javascript_include_tag 'init'
