---
title: Welcome to Middleman
---

.row
  .col.s12
  %ul.tabs
    %li.tab.col.s3
      %a.active{:href => "#about"} О себе
    %li.tab.col.s3
      %a{:href => "#experience"} Мой опыт
    %li.tab.col.s3
      %a{:href => "#contacts"} Контакты
