---
title: профессиональная помощь психотерапевта в Санкт-Петербурге, частный прием и онлайн
---

.container
  %h5.center
    %strong ПСИХОЛОГИЧЕСКАЯ ПОМОЩЬ ВЗРОСЛЫМ

.parallax-container.hide-on-small-only
  .parallax
    %img{:src => "images/book.png"}/
#index-banner.section.no-pad-bot
  .container
    %br/
    %br/
    = partial 'view/index/main'
    %br/
    %br/

-# .navbar-fixed
-#   .row.sh_top_nav
-#     .col.m2.hide-on-small-only
-#       = image_tag 'fake-logo.jpg', class: 'sh_logo'
-#     .col.s12.m10
-#       .row
-#         .lime.lighten-4
-#           %ul.tabs.tabs-transparent
-#             %li.tab
-#               %a{:href => "#main"} ГЛАВНАЯ
-#             %li.tab
-#               %a{:href => "#about"} ОБО МНЕ
-#       .row
-#         %p.flow-text Какойто очень крутой заголовок
-#
-# .container
-#   #main
-#     = partial 'view/index/main'
-#   #about
-#     = partial 'view/index/about'

= javascript_include_tag 'init'
