.container
  %h5.center
    %strong=  data.main.main_title

.parallax-container.hide-on-small-only
  .parallax
    %img.sh_load_img{:src => "", 'data-src' => 'images/room.jpg'}/
#index-banner
  .container
    %br/
    %br/
    = partial 'view/index/main'
    %br/
    %h5.header.center.orange-text= data.main.idea
    %br
    %br
    .center
      %a.waves-effect.waves-light.btn-large Button
    %br
    %br


= javascript_include_tag 'index'
