---
title: Очный и онлайн прием психотерапевта в Санкт-Петербурге
---

.container.sh_default_li
  %br
  %br
  .flow-text
    %h3.center.orange-text Формы работы
    = image_tag 'onlinevsoffline.jpg', width: '85%', class: 'hide-on-med-and-down sh_img_center'
    = partial 'text/forms_of_work'
