---
title: Групповые приемы психотерапевта в Санкт-Петербурге
---

.container
  %br
  %br
  .flow-text
    %h3 Формы работы
    = image_tag 'big_team.png', width: 350, class: 'right hide-on-med-and-down sh_text_img'
    = partial 'text/practice'
