---
title: Групповые приемы психотерапевта в Санкт-Петербурге
---

.container
  %br
  %br
  .flow-text
    = image_tag 'big_team.png', width: 350, class: 'right hide-on-med-and-down'
    = partial 'text/practice'
